@import "tailwindcss";

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/product-sans/productsans-light-webfont.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/product-sans/productsans-regular-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/product-sans/productsans-medium-webfont.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/product-sans/productsans-bold-webfont.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Product Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.font-serif {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
